
/* Default font for body */
body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: 'Alegreya Sans', sans-serif;
}

/* primary font  -- 1st page */
.primary-font, #primary-font {
    font-family: 'Nunito', sans-serif;
}

/* Default font */
.default-font, #default-font {
    font-family: 'Alegreya Sans', sans-serif;
}